/* ==== RESET ===== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* ===== VARIABLES ======*/

:root {
  font-style: 100%;
  --base-color:#f2871d; 
  --base-color-second:#865422;
  --p-color : #000000;
  --border-color:#d4d3d3;
  --title-color: #ffffff ;
}
/* ===== BASE ====== */

body {
  font: 400 1rem 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.5rem 'Montserrat', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

/* ==== LAYOUT ====== */


.container {
  width: 100%;
  margin-left:1.5rem ;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}


.section {
  /* padding: 5rem 0; */
  height: 100vh;
 
}

/* =====  HEADER ======*/
#header {
  border-bottom: 1px solid #e4e4e4;
  width: 100vw;
  height: 6rem;
  position: fixed;
  display: flex;
  justify-content: space-between; 
  padding: 0 2rem;
  align-items: center;
  background-color: var(--title-color);

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  cursor: pointer;
}

.menu .active {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base-color);
  width: 3.5rem;
  height: 2rem;
  border-bottom: 2px solid var(--base-color);
  border-radius: 0.4rem;
  box-sizing: border-box;
  cursor: pointer;
}

.logo {
  font: 700 1.31rem 'Montserrat', sans-serif; 
  color: var(--base-color-second)
}

.logo span {
  color: var(--base-color);
  font-size: 1.31rem;
} 

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoImg {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  margin-left: -2.3rem;
}


/* =====  HOME ========*/
#home .container {
  margin: 0;
}
#home {
  margin: 0;
  overflow: hidden;
}

#home .image img {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .text h1 {
  font-size: 4rem;
  font-family: 'Montserrat';
  color: var(--title-color);
  margin-top: 2rem;
}

#home .text {
  font-size: 1.2rem;
  font-family:"Montserrat";
  margin-left:1.5rem ;
  margin-right: 1.5rem;
  color: var(--base-color);
  position: absolute;
  top: 20rem;
  z-index: 1;
}


/* === AUDIO ======= */

.audioContet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.audioContet img {
  width: 36rem;
  height: 23rem;
  position: absolute;
  left: 34rem;
  margin-top: 2.3rem;

}
.left-content {
  width: 40rem;
  height: 30rem;
  background-color: #080808;
  margin-top: 7rem;
  margin-bottom: 3rem;
  position: relative;
  top: 0;
  left: 0;
}

